@charset "utf-8";

/* pc */

.ma_visual {
  position: relative;
  background-color: #000;
}
.ma_visual .inbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 738px;
  color: #fff;
  text-align: center;
}
.ma_visual .inbox .visual_img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ma_visual .inbox .visual_img::before {
  /* content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); */
}
.ma_visual .inbox .txt01 {
  position: relative;
  font-size: 32px;
  line-height: 39px;
  font-weight: 500;
}
.ma_visual .inbox .txt02 {
  position: relative;
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
}
.ma_visual .inbox .txt03 {
  position: relative;
  margin-top: 16px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}
.ma_visual > .swiper-button-prev {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 102px;
  height: 102px;
  margin: 0 0 0 -700px;
  border: none;
  background-image: url(../images/main/btn_visual_prev_off.png),
    url(../images/main/btn_visual_prev_on.png);
  background-color: transparent;
  background-repeat: no-repeat, no-repeat;
  background-position: center, -9999px;
  background-size: contain, contain;
  transform: translateY(-50%);
}
.ma_visual > .swiper-button-next {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 102px;
  height: 102px;
  margin: 0 -700px 0 0;
  border: none;
  background-image: url(../images/main/btn_visual_next_off.png),
    url(../images/main/btn_visual_next_on.png);
  background-color: transparent;
  background-repeat: no-repeat, no-repeat;
  background-position: center, -9999px;
  background-size: contain, contain;
  transform: translateY(-50%);
}
.ma_visual > [class*="swiper-button-"]:hover,
.ma_visual > [class*="swiper-button-"]:focus {
  background-position: -9999px, center;
}
.ma_visual .swiper_ctrl {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 160px;
  left: 0;
  z-index: 1;
}
.ma_visual .swiper_ctrl .swp_btn {
  display: none;
}
.ma_visual .swiper_ctrl .swiper-pagination {
  display: flex;
  align-items: center;
  position: static;
  width: auto;
  height: 24px;
}
.ma_visual .swiper_ctrl .swiper-pagination * {
  color: #d4d4d4;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.ma_visual .swiper_ctrl .swiper-pagination .current {
  color: #fff;
  font-weight: 700;
}
.ma_visual .swiper_ctrl .swiper-pagination .slash {
  margin: 0 4px;
}
.ma_visual .swiper_ctrl .btn_stop_play {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  border: none;
  background: url(../images/main/btn_visual_stop.svg) no-repeat center/contain;
  text-indent: -9999px;
  overflow: hidden;
}
.ma_visual .swiper_ctrl .btn_stop_play.stop {
  background-image: url(../images/main/btn_visual_play.svg);
}

.ma_visual_menu {
  position: relative;
  margin-top: -107px;
  text-align: center;
  z-index: 1;
}
.ma_visual_menu ul {
  display: inline-flex;
  justify-content: center;
  padding: 0 30px;
  border-radius: 24px 24px 0 0;
  background: linear-gradient(
    164.61deg,
    #3c78ee -4.69%,
    #244cb8 47.22%,
    #0d2185 97.11%
  );
  text-align: left;
}
.ma_visual_menu li {
  margin: 0 20px;
}
.ma_visual_menu li .inbox {
  display: flex;
  align-items: center;
  height: 107px;
  padding: 0 16px;
}
.ma_visual_menu li .inbox:focus .txt,
.ma_visual_menu li .inbox:hover .txt {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.ma_visual_menu li .inbox .ico {
  flex: none;
  width: 47px;
  height: 47px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
.ma_visual_menu li .inbox .txt {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: -0.006em;
}

.ma_content {
}

/* ma_news & ma_alarm */
.ma_news_alarm {
  display: flex;
  width: 100%;
  max-width: 1420px;
  padding: 0 10px;
  margin: 100px auto;
}
/* ma_news */
.ma_news {
  flex: 1;
  position: relative;
  min-width: 0;
  height: 500px;
}

.ma_news .titlebox {
  position: absolute;
  top: 0;
  left: 0;
}

.ma_news .titlebox .title {
  color: #555;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
}
.ma_news .titlebox .title .color {
  color: #0075e0;
  font-weight: 900;
}

.ma_news_tab {
  display: flex;
  justify-content: flex-end;
  padding-right: 52px;
}

.ma_news_tab > li {
  padding: 15px 0;
}
.ma_news_tab > li + li {
  margin-left: 20px;
}
.ma_news_tab > li > h3 a {
  display: flex;
  position: relative;
  color: #8e8e8e;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.2s;
}
.ma_news_tab > li > h3 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 18px;
  background: url(../images/ico_ma_news_active.svg) no-repeat center/contain;
  transition: 0.2s;
}
.ma_news_tab > li > h3 a:hover {
  color: #308ee6;
}
.ma_news_tab > li.active > h3 a {
  padding-left: 18px;
  color: #1d1d1d;
}
.ma_news_tab > li.active > h3 a::before {
  width: 18px;
}
.ma_news_tab > li .btn_more {
  position: absolute;
  top: 14px;
  right: 0;
  width: 32px;
  height: 32px;
  border: 1px solid #1d1d1d;
  background-image: url(../images/ico_20_more_blue.svg),
    url(../images/ico_20_more_black.svg);
  background-color: #fff;
  background-repeat: no-repeat, no-repeat;
  background-position: -9999px center, center center;
  background-size: 20px, 20px;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 1;
  visibility: hidden;
}
.ma_news_tab > li .btn_more:hover {
  border-color: #0075e0;
  background-color: #e7f3ff;
  background-position: center center, -9999px center;
}
.ma_news_tab > li.active .btn_more {
  visibility: visible;
}

.ma_news_tab > li .in_cont {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0.01;
  text-indent: -9999px;
  overflow: hidden;
}
.ma_news_tab > li.active .in_cont {
  top: 92px;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  opacity: 1;
  text-indent: 0;
  overflow: visible;
}

.ma_news_tab .in_cont ul {
  border-top: 1px solid #d8d8d8;
}
.ma_news_tab .in_cont ul li {
  border-bottom: 1px solid #d8d8d8;
}

.ma_news_tab .inbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 101px;
  position: relative;
  padding-left: 75px;
}

.ma_news_tab .inbox .tit {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: #1d1d1d;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
}
.ma_news_tab .inbox:hover .tit {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.ma_news_tab .inbox .txt {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin-top: 4px;
  color: #717171;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.ma_news_tab .inbox .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 75px;
}
.ma_news_tab .inbox .date .dd {
  color: #1d1d1d;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}
.ma_news_tab .inbox .date .yymm {
  margin-bottom: 2px;
  color: #707070;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
}

/* ma_alarm */
.ma_alarm {
  flex: 1;
  min-width: 0;
  margin-left: 5.71%;
}
.ma_alarm .titlebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ma_alarm .titlebox .title {
  color: #555;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
}
.ma_alarm .titlebox .title .color {
  color: #0075e0;
  font-weight: 900;
}

.ma_alarm .titlebox .swiper_ctrl {
  display: flex;
  justify-content: center;
}
.ma_alarm .titlebox .swiper_ctrl .swiper-button-prev {
  position: static;
  width: 24px;
  height: 24px;
  margin: 0;
  border: none;
  background-image: url(../images/main/ico_arrow_left_black.svg),
    url(../images/main/ico_arrow_left_blue.svg);
  background-color: transparent;
  background-repeat: no-repeat, no-repeat;
  background-position: center, -9999px;
  background-size: contain, contain;
  text-indent: -9999px;
  overflow: hidden;
}
.ma_alarm .titlebox .swiper_ctrl .swiper-button-prev:hover {
  background-position: -9999px, center;
}
.ma_alarm .titlebox .swiper_ctrl .swiper-button-next {
  position: static;
  width: 24px;
  height: 24px;
  margin: 0;
  border: none;
  background-image: url(../images/main/ico_arrow_right_black.svg),
    url(../images/main/ico_arrow_right_blue.svg);
  background-color: transparent;
  background-repeat: no-repeat, no-repeat;
  background-position: center, -9999px;
  background-size: contain, contain;
  text-indent: -9999px;
  overflow: hidden;
}
.ma_alarm .titlebox .swiper_ctrl .swiper-button-next:hover {
  background-position: -9999px, center;
}

.ma_alarm .titlebox .swiper_ctrl .swiper-pagination {
  display: flex;
  align-items: center;
  position: static;
  width: auto;
  height: 24px;
  margin: 0 2px;
}
.ma_alarm .titlebox .swiper_ctrl .swiper-pagination * {
  color: #1d1d1d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.ma_alarm .titlebox .swiper_ctrl .swiper-pagination .current {
  color: #0075e0;
  font-weight: 700;
}
.ma_alarm .titlebox .swiper_ctrl .swiper-pagination .slash {
  margin: 0 4px;
}
.ma_alarm .titlebox .swiper_ctrl .btn_stop_play {
  width: 24px;
  height: 24px;
  border: none;
  background: url(../images/main/ico_stop.svg) no-repeat center/contain;
  text-indent: -9999px;
  overflow: hidden;
}
.ma_alarm .titlebox .swiper_ctrl .btn_stop_play.stop {
  background-image: url(../images/main/ico_play.svg);
}
.ma_alarm .alarm_swiper {
  margin-top: 32px;
}
.ma_alarm .alarm_swiper .imgbox {
  display: block;
  position: relative;
  width: 100%;
  height: 408px;
}
.ma_alarm .alarm_swiper .imgbox .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0e0e0f;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* ma_twobanner */
.ma_twobanner {
  display: flex;
}
.ma_twobanner li {
  flex: 1;
  display: flex;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}
.ma_twobanner .inbox {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 710px;
  height: 227px;
}
.ma_twobanner li:first-child .inbox {
  margin-left: auto;
  padding: 0 60px 0 10px;
}
.ma_twobanner li:last-child .inbox {
  margin-right: auto;
  padding: 0 10px 0 60px;
}
.ma_twobanner .inbox .txtbox {
  flex: 1;
  margin-right: 10px;
  color: #fff;
}
.ma_twobanner .inbox .txtbox .tit {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}
.ma_twobanner .inbox .txtbox .txt {
  margin-top: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}
.ma_twobanner .inbox .btn_go {
  flex: none;
  display: flex;
  min-width: 174px;
  padding: 11px 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  transition: 0.3s;
}
.ma_twobanner .inbox .btn_go::after {
  content: "";
  width: 18px;
  height: 18px;
  margin-left: auto;
  background: url(../images/ico_18_more_white.svg) no-repeat center/contain;
}
.ma_twobanner .inbox .btn_go:focus,
.ma_twobanner .inbox .btn_go:hover {
  background-color: rgba(29, 29, 29, 0.1);
}

/* ma_gallery_bnzone */
.ma_gallery_bnzone {
  display: flex;
  max-width: 1420px;
  margin: 80px auto 0;
  padding: 0 10px;
}
.ma_gallery_bnzone .titlebox {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 21px;
}
.ma_gallery_bnzone .titlebox .title {
  color: #1d1d1d;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
}
.ma_gallery_bnzone .titlebox .swiper_ctrl {
  display: flex;
  justify-content: center;
}
.ma_gallery_bnzone .titlebox .swiper_ctrl .swiper-button-prev {
  position: static;
  width: 24px;
  height: 24px;
  margin: 0;
  border: none;
  background-image: url(../images/main/ico_arrow_left_gray.svg),
    url(../images/main/ico_arrow_left_black.svg);
  background-color: transparent;
  background-repeat: no-repeat, no-repeat;
  background-position: center, -9999px;
  background-size: contain, contain;
  text-indent: -9999px;
  overflow: hidden;
}
.ma_gallery_bnzone .titlebox .swiper_ctrl .swiper-button-prev:hover {
  background-position: -9999px, center;
}
.ma_gallery_bnzone .titlebox .swiper_ctrl .swiper-button-next {
  position: static;
  width: 24px;
  height: 24px;
  margin: 0;
  border: none;
  background-image: url(../images/main/ico_arrow_right_gray.svg),
    url(../images/main/ico_arrow_right_black.svg);
  background-color: transparent;
  background-repeat: no-repeat, no-repeat;
  background-position: center, -9999px;
  background-size: contain, contain;
  text-indent: -9999px;
  overflow: hidden;
}
.ma_gallery_bnzone .titlebox .swiper_ctrl .swiper-button-next:hover {
  background-position: -9999px, center;
}

.ma_gallery_bnzone .titlebox .swiper_ctrl .swiper-pagination {
  display: flex;
  align-items: center;
  position: static;
  width: auto;
  height: 24px;
  margin: 0 2px;
}
.ma_gallery_bnzone .titlebox .swiper_ctrl .swiper-pagination * {
  color: #9d9d9d;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.ma_gallery_bnzone .titlebox .swiper_ctrl .swiper-pagination .current {
  color: #1d1d1d;
  font-weight: 700;
}
.ma_gallery_bnzone .titlebox .swiper_ctrl .swiper-pagination .slash {
  margin: 0 4px;
}
.ma_gallery_bnzone .titlebox .swiper_ctrl .btn_stop_play {
  width: 24px;
  height: 24px;
  border: none;
  background: url(../images/main/ico_stop.svg) no-repeat center/contain;
  text-indent: -9999px;
  overflow: hidden;
}
.ma_gallery_bnzone .titlebox .swiper_ctrl .btn_stop_play.stop {
  background-image: url(../images/main/ico_play.svg);
}
.ma_gallery_bnzone .ma_gallery {
  flex: 1;
  min-width: 0;
}
.ma_gallery_bnzone .ma_gallery .inbox {
  display: block;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
}
.ma_gallery_bnzone .ma_gallery .inbox .imgbox {
  position: relative;
  width: 100%;
  height: 313px;
}
.ma_gallery_bnzone .ma_gallery .inbox .imgbox .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}
.ma_gallery_bnzone .ma_gallery .inbox .imgbox .noimg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #d8d8d8;
  border-radius: 24px;
  background-image: url(../images/bg_noimg.svg);
  background-repeat: no-repeat;
  background-position: 50% calc(50% - 30px);
  background-size: 161px 44px;
  background-color: #f8f8f8;
}
.ma_gallery_bnzone .ma_gallery .inbox .txtbox {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px 24px;
  background-color: rgba(0, 0, 0, 0.65);
}
.ma_gallery_bnzone .ma_gallery .inbox .txtbox .tit {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.ma_gallery_bnzone .ma_gallery .inbox .txtbox .more {
  display: inline-flex;
  align-items: center;
  margin-top: 8px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.ma_gallery_bnzone .ma_gallery .inbox .txtbox .more::after {
  content: "";
  width: 16px;
  height: 16px;
  margin-left: 2px;
  background: url(../images/ico_16_more_white.svg) no-repeat center/contain;
}
.ma_gallery_bnzone .ma_gallery .inbox:focus .imgbox .img,
.ma_gallery_bnzone .ma_gallery .inbox:hover .imgbox .img {
  transform: scale(1.2);
}
.ma_gallery_bnzone .ma_bnzone {
  flex: 1;
  min-width: 0;
  margin-left: 60px;
}
.ma_gallery_bnzone .ma_bnzone .swiper-container {
  border-radius: 24px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.ma_gallery_bnzone .ma_bnzone .inbox {
  display: block;
  position: relative;
}
.ma_gallery_bnzone .ma_bnzone .inbox .imgbox {
  position: relative;
  width: 100%;
  height: 313px;
}
.ma_gallery_bnzone .ma_bnzone .inbox .imgbox .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ma_gallery_bnzone .ma_bnzone .inbox .txtbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px;
}
.ma_gallery_bnzone .ma_bnzone .inbox .txtbox .tit {
  color: #793613;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}
.ma_gallery_bnzone .ma_bnzone .inbox .txtbox .txt {
  margin: 16px 0;
  color: #1d1d1d;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.ma_gallery_bnzone .ma_bnzone .inbox .txtbox .more {
  display: inline-flex;
  align-items: center;
  margin-top: auto;
  padding: 12px 12px 12px 16px;
  border-radius: 8px;
  background-color: #92451a;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  transition: 0.3s;
}
.ma_gallery_bnzone .ma_bnzone .inbox .txtbox .more::after {
  content: "";
  width: 18px;
  height: 18px;
  margin-left: 28px;
  background: url(../images/ico_18_more_white.svg) no-repeat center/contain;
}
.ma_gallery_bnzone .ma_bnzone .inbox:focus .txtbox .more,
.ma_gallery_bnzone .ma_bnzone .inbox:hover .txtbox .more {
  background-color: #762a00;
}

/* ma_intro */
.ma_intro {
  max-width: 1420px;
  margin: 80px auto 100px;
  padding: 0 10px;
}
.ma_intro .inbox {
  display: flex;
  align-items: center;
  padding: 40px;
  border-radius: 24px;
  background: url(../images/main/img_intro.jpg) no-repeat center/cover;
}
.ma_intro .inbox .txtbox {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #fff;
}
.ma_intro .inbox .txtbox .tit {
  margin-right: 10px;
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
}
.ma_intro .inbox .txtbox .txt {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}
.ma_intro .inbox .linkbox {
  display: flex;
  margin-left: auto;
}
.ma_intro .inbox .linkbox a {
  flex: none;
  display: flex;
  width: 174px;
  padding: 11px 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  transition: 0.3s;
}
.ma_intro .inbox .linkbox a::after {
  content: "";
  width: 18px;
  height: 18px;
  margin-left: auto;
  background: url(../images/ico_18_more_white.svg) no-repeat center/contain;
}
.ma_intro .inbox .linkbox a + a {
  margin-left: 16px;
}
.ma_intro .inbox .linkbox a:focus,
.ma_intro .inbox .linkbox a:hover {
  background-color: rgba(29, 29, 29, 0.1);
}

/* nodata */
.nodata_box_wrap,
.nodata_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 24px;
  text-align: center;
}

.nodata_box .ico {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.nodata_box .txt {
  margin-top: 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  word-break: keep-all;
}

.ma_news_tab .in_cont .nodata_box_wrap {
  border: 1px solid #d8d8d8;
  background-color: #f8f8f8;
}

.ma_gallery_bnzone .ma_gallery .nodata_box_wrap,
.ma_gallery_bnzone .ma_bnzone .nodata_box_wrap {
  height: 313px;
  border: 1px solid #d8d8d8;
  background-color: #f8f8f8;
}

@media screen and (max-width: 1920px) {
  .ma_visual .inbox {
    height: 554px;
  }
}

@media screen and (max-width: 1420px) {
  .ma_visual > .swiper-button-prev {
    left: 0;
    margin: 0;
  }
  .ma_visual > .swiper-button-next {
    right: 0;
    margin: 0;
  }
}

@media screen and (max-width: 1279px) {
  .ma_visual .inbox {
    height: 426px;
  }
  .ma_visual > .swiper-button-prev {
    left: 35px;
    width: 70px;
    height: 70px;
  }
  .ma_visual > .swiper-button-next {
    right: 35px;
    width: 70px;
    height: 70px;
  }
  .ma_visual .swiper_ctrl {
    bottom: 80px;
  }

  .ma_visual_menu {
    margin-top: 0;
  }
  .ma_visual_menu ul {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
  .ma_visual_menu li {
    flex: 0 1 calc(100% / 3);
    margin: 0;
  }
  .ma_visual_menu li .inbox {
    justify-content: center;
    height: 95px;
    margin: 0 -1px -1px 0;
    padding: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  .ma_visual_menu li .inbox .txt {
    min-width: 98px;
  }

  .ma_news {
    flex-direction: column;
    height: 473px;
    margin: 60px auto 40px;
    padding: 0 35px 20px;
  }
  .ma_news .titlebox {
    left: 35px;
  }
  .ma_news_tab {
    display: flex;
    width: 100%;
  }
  .ma_news_tab > li {
    width: auto;
    min-width: 88px;
  }
  .ma_news_tab > li + li {
    margin-top: 0;
  }
  .ma_news_tab > li > h3 a {
    justify-content: center;
    height: 38px;
    padding: 0 8px;
    border: none;
    font-size: 18px;
    line-height: 22px;
  }
  .ma_news_tab > li.active > h3 a {
    border-radius: 6px;
  }
  .ma_news_tab > li.active .in_cont {
    top: 120px;
    right: 0;
    left: 0;
    padding: 20px 35px;
    overflow: auto;
  }
  .ma_news_tab .in_cont ul li {
    flex: 0 0 calc(100% / 2 - 12px);
  }
  .ma_news_tab .in_cont ul li + li {
    margin-left: 24px;
  }
  /* flex 우측 여백없는 문제 */
  .ma_news_tab .in_cont ul li:last-child {
    flex: 0 0 calc(100% / 2 + 23px);
    padding-right: 35px;
  }
  .ma_news_tab .inbox:focus,
  .ma_news_tab .inbox:hover {
    transform: translateY(0);
  }
  .ma_news_tab > li .btn_more {
    position: absolute;
    top: 82px;
    right: 35px;
    left: auto;
    margin: 0;
    width: 30px;
    height: 30px;
    background-image: url(../images/ico_30_more_black.svg);
    opacity: 1;
  }

  .ma_twobanner {
    flex-direction: column;
  }
  .ma_twobanner li:first-child .inbox,
  .ma_twobanner li:last-child .inbox {
    max-width: none;
    margin: 0;
    padding: 0 35px;
  }

  .ma_gallery_bnzone {
    flex-direction: column;
    margin-top: 60px;
    padding: 0 35px;
  }
  .ma_gallery_bnzone .ma_gallery {
    flex: none;
  }
  .ma_gallery_bnzone .ma_bnzone {
    flex: none;
    margin: 60px 0 0 0;
  }

  .ma_intro {
    margin: 60px auto 80px;
    padding: 0 35px;
  }
  .ma_intro .inbox {
    flex-direction: column;
    background-position: 60% center;
  }
  .ma_intro .inbox .txtbox {
    flex-direction: column;
    margin: 0 auto;
  }
  .ma_intro .inbox .txtbox .tit {
    margin: 0 auto 10px;
    text-align: center;
  }
  .ma_intro .inbox .txtbox .txt {
    text-align: center;
  }
  .ma_intro .inbox .linkbox {
    margin: 32px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .ma_visual .inbox {
    height: 308px;
  }
  .ma_visual .inbox .txt01 {
    font-size: 24px;
    line-height: 29px;
  }
  .ma_visual .inbox .txt02 {
    font-size: 40px;
    line-height: 48px;
  }
  .ma_visual .inbox .txt03 {
    margin-top: 12px;
    font-size: 16px;
    line-height: 19px;
  }
  .ma_visual > .swiper-button-prev,
  .ma_visual > .swiper-button-next {
    display: none;
  }
  .ma_visual .swiper_ctrl {
    bottom: 60px;
  }
  .ma_visual .swiper_ctrl .swp_btn {
    display: block;
    position: static;
    width: 24px;
    height: 24px;
    margin: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .ma_visual .swiper_ctrl .swiper-button-prev {
    background-image: url(../images/main/ico_arrow_left_white.svg);
  }
  .ma_visual .swiper_ctrl .swiper-button-next {
    background-image: url(../images/main/ico_arrow_right_white.svg);
  }
  .ma_visual .swiper_ctrl .swiper-pagination {
    margin: 0 2px;
  }
  .ma_visual .swiper_ctrl .btn_stop_play {
    margin-left: 0;
  }

  .ma_visual_menu li {
    flex: 0 1 calc(100% / 2);
  }
  .ma_visual_menu li .inbox {
    height: 68px;
  }
  .ma_visual_menu li .inbox .ico {
    width: 36px;
    height: 36px;
    margin-right: 6px;
  }
  .ma_visual_menu li .inbox .txt {
    min-width: 78px;
    font-size: 14px;
    line-height: 17px;
  }

  .ma_news {
    height: 437px;
    margin: 40px auto 25px;
    padding: 0 16px;
  }
  .ma_news .titlebox {
    left: 16px;
  }
  .ma_news .titlebox .title {
    font-size: 24px;
    line-height: 29px;
  }
  .ma_news_tab {
    margin-top: 54px;
  }
  .ma_news_tab > li {
    min-width: 81px;
  }
  .ma_news_tab > li > h3 a {
    height: 35px;
    font-size: 16px;
    line-height: 19px;
  }
  .ma_news_tab > li.active .in_cont {
    top: 94px;
    padding: 15px 16px;
  }
  .ma_news_tab .in_cont ul li {
    flex: 0 0 calc(100%);
  }
  .ma_news_tab .in_cont ul li + li {
    margin-left: 16px;
  }
  .ma_news_tab .in_cont ul li:last-child {
    flex: 0 0 calc(100% + 16px);
    padding-right: 16px;
  }
  .ma_news_tab .inbox {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  }
  .ma_news_tab > li .btn_more {
    top: 0;
    right: 16px;
  }

  .ma_twobanner li:first-child .inbox,
  .ma_twobanner li:last-child .inbox {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 191px;
    padding: 0 16px;
  }
  .ma_twobanner .inbox .txtbox {
    flex: none;
    margin: 0 0 24px;
  }
  .ma_twobanner .inbox .txtbox .tit {
    font-size: 20px;
    line-height: 24px;
  }
  .ma_twobanner .inbox .txtbox .txt {
    margin-top: 8px;
    font-size: 14px;
    line-height: 17px;
  }
  .ma_twobanner .inbox .btn_go {
    min-width: 157px;
    padding: 9px 15px;
    font-size: 14px;
    line-height: 17px;
  }

  .ma_gallery_bnzone {
    margin-top: 40px;
    padding: 0 16px;
  }
  .ma_gallery_bnzone .titlebox .title {
    font-size: 24px;
    line-height: 29px;
  }
  .ma_gallery_bnzone .titlebox .swiper_ctrl .swiper-button-prev,
  .ma_gallery_bnzone .titlebox .swiper_ctrl .swiper-button-next,
  .ma_gallery_bnzone .titlebox .swiper_ctrl .btn_stop_play {
    width: 20px;
    height: 20px;
  }
  .ma_gallery_bnzone .titlebox .swiper_ctrl .swiper-pagination {
    height: 20px;
  }
  .ma_gallery_bnzone .titlebox .swiper_ctrl .swiper-pagination * {
    font-size: 16px;
    line-height: 20px;
  }
  .ma_gallery_bnzone .ma_bnzone .inbox .txtbox {
    padding: 32px;
  }
  .ma_gallery_bnzone .ma_bnzone .inbox .txtbox .tit {
    font-size: 24px;
    line-height: 29px;
  }
  .ma_gallery_bnzone .ma_bnzone .inbox .txtbox .txt {
    margin: 12px 0;
    font-size: 16px;
    line-height: 19px;
  }
  .ma_gallery_bnzone .ma_bnzone .inbox .txtbox .more {
    min-width: 157px;
    padding: 9px 15px;
    font-size: 14px;
    line-height: 17px;
  }
  .ma_gallery_bnzone .ma_bnzone .inbox .txtbox .more::after {
    margin-left: auto;
  }

  .ma_intro {
    margin: 40px auto 60px;
    padding: 0 16px;
  }
  .ma_intro .inbox {
    padding: 32px 24px;
    background-position: 67% center;
  }
  .ma_intro .inbox .txtbox .tit {
    font-size: 24px;
    line-height: 29px;
  }
  .ma_intro .inbox .txtbox .txt {
    font-size: 14px;
    line-height: 17px;
    word-break: keep-all;
  }
  .ma_intro .inbox .linkbox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .ma_intro .inbox .linkbox a {
    width: 157px;
    padding: 9px 15px;
    font-size: 14px;
    line-height: 17px;
  }
  .ma_intro .inbox .linkbox a + a {
    margin: 12px 0 0 0;
  }
}
